body {
  background-color: #E8EEF3;
}

.container {
  margin: auto;
  padding-bottom: 30px;
  max-width: 800px;
  position: relative;
  min-height: 100vh;
}

.container a {
  margin-left:10px;
  font-weight:700;
  text-decoration:none;
}

.navbar {
  height: 35px;
  background: linear-gradient(92deg, #7E6EEF 4.15%, #E57FF0 49.34%, #FED600 94.52%);
  padding: 2px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logodiv{
  height: 100%;
}
.logoimg {
  height: 80%;
}

.links a {
  margin-right: 20px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.LogReg a {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 500;
  color:#342A83;
}

.backImg {
  position: absolute;
  right: 0;
  top: 120px;
  max-width: 550px;
}

.MainTourCard {
  max-width: 500px;
  background-color: white;
  min-height: 250px;
  padding: 20px 40px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}

.icon {
  margin-left: -100px;
  margin-right: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h1 {
  font-size: 50px;
  color: #342A83
}

.leaddiv {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.tourCards{
  background-color: white;
  padding: 5px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.footer {
  background: linear-gradient(92deg, #7E6EEF 4.15%, #E57FF0 49.34%, #FED600 94.52%);
  padding: 20px;
  color: white;
}

.footer h4 {
  text-transform: uppercase;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.footerLinks a {
  margin-left: 0;
  text-decoration: none;
  color: white;
}

.infoCard {
  width: 20%;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
  border: 1px solid #2F276A;
  height: fit-content;
}

.infoCard p {
  font-size: 10px;
}

.infoCard a {
  color: #2F276A;
}

.infoCard h5 {
  font-size: 12px;
}

.hungryCard {
  background-color: #E57FF0;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.map-container {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.regDivs div {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  justify-content:center;
  align-items: center;
  height: 50vh;
  color: white;

}

.regDivs button {
  width: 100px;
  padding: 10px 10px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 3px;
}

.regDivs input {
  width: 60%;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #2F276A;
  padding: 2px 5px;
}

.regDivs p{
  font-size: 25px;
  margin: 10px;
}

.loginDiv {
  background-color: #FED600;
}

.loginDiv button{
  background-color: #E57FF0;
  color: white;
}

.singupDiv {
  background-color: #E57FF0;
}

.singupDiv button{
  background-color:#FED600 ;
  color:#7E6EEF;
}

.eventsBlock {
 display: grid; 
 grid-template-columns: 1fr 1fr 1fr;
 flex-wrap: wrap;
 margin-bottom: 10px;
}

.eventsBlock a {
  margin-left: 10px;
  font-weight: 700;
  text-decoration: none;
}

.eventCardsClass {
margin: 10px;
max-width: 260px;
background-color: white;
padding: 10px 10px;
border-radius: 10px;
}

.eventCardsClass h4, p {
  margin: 10px;
}

.eventCardsClass button {
background-color: black;
color: white;
font-size: 15px;
padding: 5px 10px;
border: 0;
border-radius: 3px;
}

.eventSelect {
  margin: 20px;
  text-align: center;
}

.eventSelect select {
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 15px;font-weight: 700;
}

.SM img {
  margin-right: 10px;
  margin-top: 20px;
  width: 30%;
}

.favContainer {
  margin-top: -50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;

}

.favCard {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 150px;
  border: 0;
  border-radius: 10px;
}

.favCard a {
  text-decoration: none;
  font-weight: 700;
}

.favCard button {
  font-size: 10px;
  background-color: #7E6EEF;
  color: white;
  border: 0;
  padding: 5px 5px;
  border-radius: 3px;
}
